head {
        align-content: center;
        text-align: center;
}
header {
    background-color: #333;
    color: white;
    text-size-adjust: 8;
    padding: 8px;
    text-align: center;
}
img {
    width: 150 px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
footer {
    background-color: #333;
    color: white;
    text-size-adjust: 5;
    padding: 6;
    text-align: center;
}